@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
  font-family: 'Inter', system-ui, sans-serif;

}
@layer base {
  body, html {
    margin: 0;
    overflow: hidden; /* Prevents accidental scrolling */
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;